<!doctype html>
    <html>
        <head>
            {% load static %}
            <meta charset='utf-8'>
            <link rel="stylesheet" href="{% static 'core/css/registro.css' %}">
            <meta name='viewport' content='width=device-width, initial-scale=1'>
            <title>Buscar-Cuenta</title>
            <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css' rel='stylesheet'>
            <link href='' rel='stylesheet'>
            <script type='text/javascript' src=''></script>

        </head>
            <body oncontextmenu='return false' class='snippet-body'>
                <div class="wrapper rounded bg-white">
                    <div class="h3">Buscar cuenta</div>
                        <div class="form">
                            <div class="row">
                                <div class="col-md-6 mt-md-0 mt-3"> 
                                    <label>Ingresa tu correo electronico o numero de telefono con el que este asociado la cuenta</label>
                                    <input type="text" class="form-control" required>
                                </div>
                                <div class="btn btn-primary mt-3">Buscar</div>
                            </div>
                        </div>
                    <script type='text/javascript' src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js'></script>
                    <script type='text/javascript'></script>
            </body>
    </html>

