<!doctype html>
                        <html>
                            <head>
                                {% load static %}
                                <meta charset='utf-8'>
                                <meta name='viewport' content='width=device-width, initial-scale=1'>
                                <title>Formulario-registro</title>
                                <link rel="stylesheet" href="{% static 'core/css/registro.css' %}">
                                <link href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css' rel='stylesheet'>
                                <link href='' rel='stylesheet'>
                                <script type='text/javascript' src=''></script> 
                            </head>
                                <body oncontextmenu='return false' class='snippet-body'>
                                <div class="wrapper rounded bg-white">
    <div class="h3">Segunda Oportunidad</div>
    <div class="form">
        <div class="row">
            <div class="col-md-6 mt-md-0 mt-3"> <label>Nombre de Usuario</label> <input type="text" class="form-control" > </div>
        </div>
        <div class="row">
            <div class="col-md-6 mt-md-0 mt-3"> <label>Contrasena actual</label> <input type="password" class="form-control" > </div>
        </div>
        <div class="row">
            <div class="col-md-6 mt-md-0 mt-3"> <label>Contrasena nueva</label> <input type="password" class="form-control" > </div>
        </div >
        <div class="row">
            <div class="col-md-6 mt-md-0 mt-3"> <label>Repetir contrasena nueva</label> <input type="password" class="form-control" > </div>
        </div >
        <div class="btn btn-primary mt-3" href="{% url 'perfil' %}">Guardar</div>
        
    </div>
</div>
                                <script type='text/javascript' src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js'></script>
                                <script type='text/javascript'></script>
                                </body>
                            </html>